<h1 class="display-4">Welcome to RailsToDo</h1>
<%= render 'layouts/messages' %>
<p class="lead">A basic to do list for all people who have things to do!</p>
<p class="lead"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %>
<%= link_to "Login", user_session_path, class: "btn btn-primary btn-lg", role: "button" %> </p>